.page-body {
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  background-image: url(../images/background.png);
  background-size: cover;
}

.container {
  width: 1020px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 15px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-link {
  text-decoration: none;
  display: flex;
  color: #ffffff;
}

.logo-img {
  background-image: url(../images/logo.svg);
  width: 53px;
  height: 47px;
  margin-right: 8px;
}

.text-milan {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}

.text-holidays {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.logo-link:hover .logo-img {
  background-image: url(../images/logo2.svg);
}

.logo-link:hover .logo-text {
  color: #f26522;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.contacts > a {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}
.link-hover:hover {
  color: #f26522;
}

.galery {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 40px 60px;
}

.galery-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.galery-item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.galery-item:hover .galery-item-name {
  color: #f26522;
}

.galery-item-info {
  background-color: #f26522;
  position: absolute;
  display: none;
  padding: 7px 16px 12px 16px;
  box-sizing: border-box;
}

.galery-item:hover .galery-item-info {
  top: 170px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.from {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}
.price-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.price {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.details {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.details::after {
  content: "";
  background-image: url(../images/vector.svg);
  width: 5px;
  height: 10px;
  display: inline-block;
  background-size: contain;
}
.footer {
  margin: 0 auto;
  padding-top: 50px;
}
.footer-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0 auto;
}
